################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/第06章-控件/ContentControl/.vs
/第06章-控件/ContentControl/ContentControl/obj/Debug
/第06章-控件/ContentControl/ContentControl/bin/Debug
/第06章-控件/ContentControl/WpfApp-6.2.4-Label/bin/Debug
/第06章-控件/ContentControl/WpfApp-6.2.4-Label/obj/Debug
/第06章-控件/ContentControl/WpfAppLabel/obj/Debug
/第06章-控件/ContentControl/WpfApp-6.2.5-Button/bin/Debug
/第06章-控件/ContentControl/WpfApp-6.2.5-Button/obj/Debug
/第06章-控件/ContentControl/ContentControl/obj/Release
/第06章-控件/ContentControl/WpfApp-6.2.4-Label/obj/Release
/第06章-控件/ContentControl/WpfApp-6.2.5-Button/obj/Release
/第10章-资源/.vs
/第10章-资源/WpfApp-10.1-Resources/.vs/WpfApp-10.1-Resources.slnx
/第10章-资源/WpfApp-10.1-Resources/WpfApp-10.1-Resources/bin/Debug
/第10章-资源/WpfApp-10.1-Resources/WpfApp-10.1-Resources/obj
/第10章-资源/WpfApp-10.1-Resources/.vs/WpfAppResources.slnx/v18
